@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$font-family-base: "Work Sans", sans-serif;
$body-bg: #fffcec;
$primary: #4753b0;
$danger: #b3525c;
$body-color: #3a4178;
$secondary: #4f5580;
$gray-200: #d9dbe7;

@import "bootstrap/scss/bootstrap";

$color-work: #5b95e0;
$color-short-break: #efa339;
$color-long-break: #7f36b8;
$color-default: $body-color;

$browser-prefixes: '-webkit-slider', '-moz-range', '-ms-';

$progress-types: (
    "progress-default": transparent,
    "progress-work": $color-work,
    "progress-short-break": $color-short-break,
    "progress-long-break": $color-long-break
);

.form-range {
    position: relative;
}

.form-range::-webkit-slider-runnable-track {
    width: var(--track-fg-width, 100%);
}

.form-range::before {
    content: '';
    height: 8px;
    width: var(--track-fg-width);
    position: absolute;
    z-index: 1;
    top: 8px;
    z-index: 0;
    border-radius: 4px;
}

@mixin thumb-style($color) {
    @each $browser in $browser-prefixes {
        &::#{$browser}-thumb {
            background-color: $color;
            position: relative;
            z-index: 1;

            &:active {
                background-color: tint-color($color, 70%);
            }
        }

        &:focus::#{$browser}-thumb {
            outline: 1px solid white;
            box-shadow: 0 0 0 5px tint-color($color, 70%);
        }
    }
}

@mixin range-style($color) {
    @include thumb-style($color);

    &::before {
        background-color: $color;
        transition: background-color 0.25s;
    }

    &:disabled {
        &::before {
            background-color: tint-color($secondary, 30%);
        }

        &::-webkit-slider-thumb {
            background-color: tint-color($secondary, 30%);
            opacity: 1;
        }
    }
}

.range-work {
    @include range-style($color-work);
}

.range-short-break {
    @include range-style($color-short-break);
}

.range-long-break {
    @include range-style($color-long-break);
}

#progress {
    @each $class, $color in $progress-types {
        &.#{$class} svg .progress-circle {
            stroke: $color;
            transition: stroke 1s;
        }

        &.#{$class} {
            transition: color 1s;
            @if $class == "progress-default" {
                color: $body-color; 
            } @else {
                color: $color;
            }
        }
    }
}

#progress {
    & svg .progress-circle-static {
        stroke: $gray-200;
    }
}

.svg-shadow {
    filter: drop-shadow(var(--bs-box-shadow));
}

.svg-shadow-sm {
    filter: drop-shadow(var(--bs-box-shadow-sm));
}

.svg-shadow-lg {
    filter: drop-shadow(var(--bs-box-shadow-lg));
}