@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$font-family-base: "Work Sans", sans-serif;
$body-bg: #f5f5f5;
$primary: #4753b0;
$danger: #b3525c;
$body-color: #3a4178;
$secondary: #4f5580;
$gray-200: #d9dbe7;

@import "bootstrap/scss/bootstrap";

$color-work: #5b95e0;
$color-short-break: #9f5892;
$color-long-break: #8068c1;
$color-default: $body-color;

$browser-prefixes: '-webkit-slider', '-moz-range', '-ms-';

$progress-types: (
    "progress-default": ("color": transparent,
        "image": url('../assets/default.png'),
        "font-color": $body-color ),
    "progress-work": ("color": $color-work,
        "image": url('../assets/work.jpeg'),
        "font-color": $body-color ),
    "progress-short-break": ("color": $color-short-break,
        "image": url('../assets/short-break.jpeg'),
        "font-color": $body-bg ),
    "progress-long-break": ("color": $color-long-break,
        "image": url('../assets/long-break.jpeg'),
        "font-color": $body-bg )
);

body {
    background: #fffcec no-repeat center / cover;
    background-attachment: fixed;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    transition: background-image 2s ease-in-out, color 1s ease-in-out;
}

.form-range {
    position: relative;
}

.form-range::-webkit-slider-runnable-track {
    width: var(--track-fg-width, 100%);
}

.form-range::before {
    content: '';
    height: 8px;
    width: var(--track-fg-width);
    position: absolute;
    z-index: 1;
    top: 8px;
    z-index: 0;
    border-radius: 4px;
}

@mixin thumb-style($color) {
    @each $browser in $browser-prefixes {
        &::#{$browser}-thumb {
            background-color: $color;
            position: relative;
            z-index: 1;

            &:active {
                background-color: tint-color($color, 70%);
            }
        }

        &:focus::#{$browser}-thumb {
            outline: 1px solid white;
            box-shadow: 0 0 0 5px tint-color($color, 70%);
        }
    }
}

@mixin range-style($color) {
    @include thumb-style($color);

    &::before {
        background-color: $color;
        transition: background-color 0.25s;
    }

    &:disabled {
        &::before {
            background-color: tint-color($secondary, 30%);
        }

        &::-webkit-slider-thumb {
            background-color: tint-color($secondary, 30%);
            opacity: 1;
        }
    }
}

.range-work {
    @include range-style($color-work);
}

.range-short-break {
    @include range-style($color-short-break);
}

.range-long-break {
    @include range-style($color-long-break);
}

body {
    @each $class, $properties in $progress-types {
        &.#{$class} {
            background-image: map-get($properties, "image");
            color: map-get($properties, "font-color");

            & #settings {
                color: $body-color;
            }

            & #progress svg .progress-circle {
                stroke: map-get($properties, "color");
                transition: stroke 1s;
            }

            & #progress {
                transition: color 1s;

                @if $class =="progress-default" {
                    color: $body-color;
                }

                @else {
                    color: map-get($properties, "color");
                }
            }
        }

    }
}

#progress {
    & svg .progress-circle-static {
        stroke: $gray-200;
    }
}

.svg-shadow {
    filter: drop-shadow(var(--bs-box-shadow));
}

.svg-shadow-sm {
    filter: drop-shadow(var(--bs-box-shadow-sm));
}

.svg-shadow-lg {
    filter: drop-shadow(var(--bs-box-shadow-lg));
}