@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

$font-family-base: "Work Sans", sans-serif;

@import "bootstrap/scss/bootstrap";

$color-work: red;
$color-short-break: yellow;
$color-long-break: green;

$browser-prefixes: '-webkit-slider', '-moz-range', '-ms-';

$progress-types: (
    "progress-default": transparent,
    "progress-work": $color-work,
    "progress-short-break": $color-short-break,
    "progress-long-break": $color-long-break
);

.mono-font {
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

@mixin thumb-style($color) {
    @each $browser in $browser-prefixes {
        &::#{$browser}-thumb {
            background-color: $color;
            &:active {
                background-color: tint-color($color, 70%);
            }
        }

        &:focus::#{$browser}-thumb {
            outline: 1px solid white;
            box-shadow: 0 0 0 5px tint-color($color, 70%);
        }
    }
}

.range-work {
    @include thumb-style($color-work);
}

.range-short-break {
    @include thumb-style($color-short-break);
}

.range-long-break {
    @include thumb-style($color-long-break);
}

#progress {
    @each $class, $color in $progress-types {
        &.#{$class} svg .progress-circle {
            stroke: $color;
        }
    }
}